body { color: white;}

.tileContainer {
    position: relative;
}

.abilityPanTile, .characterPanTile {
    position: absolute;
    z-index: 10;

    border: 1px solid darkmagenta;

    cursor: pointer;

    background-color: darkolivegreen;
}

/*==========================
 = Viewport Window Entries =
 ==========================*/

#viewportWindow {
    width: 75%;
    height: 80%;

    max-width: 1125px;
    max-height: 750px;

    position: relative;

    margin: 10px 0 0 10px;

    border: 4px solid white;

    display: inline-block;
    overflow: hidden;

    background-color: darkgreen;
}

#viewportWindow_fullscreen {
    width: 98%;
    height: 80%;

    margin: 10px;

    border: 1px solid white;

    background-color: darkred;
}


.viewportPanTile {
    position: absolute;
    z-index: 10;

    border: 1px solid black;

    background-color: yellow;
}

#upViewportPan, #downViewportPan {
    height: 50px;
    width: 120px;

    left: 52%;
    margin-left: -60px;
}

#leftViewportPan, #rightViewportPan {
    height: 120px;
    width: 50px;

    top: 50%;
    margin-top: -60px;
}

#leftViewportPan { margin-left: 5px;}

#upViewportPan { margin-top: 5px;}

#rightViewportPan { right: 0; margin-right: 5px; }

#downViewportPan { bottom: 0; margin-bottom: 5px; }


#battleMap {
    width: 1125px;
    height: 750px;

    position: relative;
    top: -25%;
    left: -25%;

    font-size: 0;
}

.battleMapTestTile {
    width: 73px;
    height: 73px;

    display: inline-block;

    border: 1px solid white;

    color: white;
    background-color: darkviolet;

    font-size: 16;
}

/*=======================
 = Party Window Entries =
 ========================*/

#partyWindow {
    width:  18%;
    height: 75%;
    position: relative;

    margin: 10px 10px 0 20px;
    padding-top: 3%;

    border: 4px solid white;

    display: inline-block;
    overflow: hidden;

    background-color: darkblue;
}

.characterPanTile {
    width: 99%;
    height: 6%;
}

#upCharacterPan { top: 0px; }
#downCharacterPan { bottom: 0px; }

.characterTile {
    width: auto;
    height: 10%;

    margin-top: 4px;
    padding: 2px;
    
    border: 1px solid white;

    background-color: darkorange;
}

.characterImage {
    width: 25%;
    height: 98%;

    display: inline-block;

    background-color: black;
}

.characterTileRight {
    width: 70%;
    height: 100%;

    text-align: center;
    vertical-align: top;

    display: inline-block;
}

.characterName {
    width: auto;
    height: 50%;

    background-color: darkred;
}
.characterStats {
    width: auto;
    height: 50%;

    background-color: darkgrey;
}

/*=========================
 = Ability Window Entries =
 =========================*/

#abilityWindow {
    width:  93%;
    height: 15%;
    position: relative;
    
    margin: 10px 10px 10px 10px;
    padding-left: 3%;

    border: 4px solid white;

    overflow: hidden;
    white-space: nowrap;

    background-color: darkviolet;
}

#leftAbilityPan { left: 0px; }
#rightAbilityPan { right: 0px; top: 0px; }

.abilityPanTile {
    width: 3%;
    height: 98%;
}

.abilityTile {
    width: 10%;
    height: 92%;

    margin-left: 4px;
    padding: 2px;

    border: 1px solid white;

    display: inline-block;

    background-color: darkorange;
}

.abilityImage {
    width: 30%;
    height: 50%;

    display: inline-block;

    background-color: black;
}

.abilityName {
    width: 65%;
    height: 50%;

    display: inline-block;

    text-align: center;
    vertical-align: top;

    background-color: darkred;
}

.abilityStats {
    width: 100%;
    height: 45%;

    background-color: darkgreen;
}
